$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$blue: #43CEE6;
$dark-blue: #044DDA;
$white: #ffffff;

$red: rgba(255,87,66, 0.9);

#page {
  background: none repeat scroll 0 0 #f4f4f4;
}

.container {
  position: relative;
  top: 50px;
  margin: 0 auto;
  text-align: center;
}
.thermometer{
  margin-top: 40px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.thermometer svg{
}
.thermometer .degree{
  stroke: $blue;
  stroke-width: 3;
  fill: $blue;
}
.thermometer .handle{
  fill: $white;
  stroke: $white;
  stroke-width: 3;
}
.thermometer text{
  font-size: 95px;
  text-anchor: middle;
  fill: #888;
}

.controls{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  i {
    font-size: 70px;
    transition: all 300ms ease;
    font-weight: bolder;
  }
  #up.glow {
    text-shadow: 0 0px 10px $red;
    transition: all 300ms ease;
  }
  #down.glow {
    text-shadow: 0 0px 10px $blue;
    transition: all 300ms ease;
  }
}

#up {
  position: relative;
  top: 78px;
  left: 33px;
  color: $red;
}
#down {
  position: relative;
  top: 240px;
  left: -30px;
  color: $blue;
}