$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$blue: #43CEE6;
$dark-blue: #044DDA;
$white: #ffffff;

#page {
  background: none repeat scroll 0 0 #f4f4f4;
}

.container {
  position: relative;
  top: 50px;
  margin: 0 auto;
  text-align: center;
}

.thermometer{
  margin-top: 40px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.thermometer svg{
}
.thermometer .degree{
  stroke: $blue;
  stroke-width: 3;
  fill: $blue;
}
.thermometer .handle{
  fill: $white;
  stroke: $white;
  stroke-width: 3;
}
.thermometer text{
  font-size: 95px;
  text-anchor: middle;
  fill: #888;
}